src/img/project-logo-template.psd
src/img/project-logotype.psd
AppIcons/appstore.png
AppIcons/playstore.png
AppIcons/Assets.xcassets/AppIcon.appiconset/Contents.json
AppIcons/Assets.xcassets/AppIcon.appiconset/_/29.png
AppIcons/Assets.xcassets/AppIcon.appiconset/_/40.png
AppIcons/Assets.xcassets/AppIcon.appiconset/_/57.png
AppIcons/Assets.xcassets/AppIcon.appiconset/_/58.png
AppIcons/Assets.xcassets/AppIcon.appiconset/_/60.png
AppIcons/Assets.xcassets/AppIcon.appiconset/_/80.png
AppIcons/Assets.xcassets/AppIcon.appiconset/_/87.png
AppIcons/Assets.xcassets/AppIcon.appiconset/_/114.png
AppIcons/Assets.xcassets/AppIcon.appiconset/_/120.png
AppIcons/Assets.xcassets/AppIcon.appiconset/_/180.png
AppIcons/Assets.xcassets/AppIcon.appiconset/_/1024.png
src/img/Playlist/Playlist--chill.png
src/img/Playlist/Playlist--chill_640x640.png
