/* ****************************** */
/* BELOW 704px (Tablets) */
/* ****************************** */

@media (max-width: 44em) {
  .contact-button {
    width: 80%;
  }
}

@media (max-width: 44em) {
  .contact-button {
    width: 90%;
  }
}

@media (max-width: 25em) {
  .contact-button {
    width: 100%;
  }
}
