@media (max-width: 44em) {
  /* ABOUT ME */

  .content {
    padding: 0;
  }

  /* EXPERIENCE */

  .experience {
    padding-top: 6.4rem;
    padding-bottom: 2.4rem;

    display: flex;
    gap: 2.4rem;
    flex-direction: column;

    margin-left: 0rem;
  }

  .job {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 1.2rem;
  }

  .job .title {
    padding-bottom: 0;
  }

  .details .title {
    padding-bottom: 1.2rem;
  }

  /* CERTIFICATES */

  .certificate {
    margin-left: 0;
  }

  .certificate .buttons {
    display: none;
  }
}
