@media (max-width: 44em) {
  /* ABOUT ME */

  .content {
    padding: 0;
  }

  /* CERTIFICATES */

  .certificate {
    margin-left: 0;
  }

  .certificate .buttons {
    display: none;
  }

  /* USES */
  .desk {
    grid-template-columns: 1fr;
  }

  .general-apps {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .dev-apps {
    grid-template-columns: 1fr;
  }

  .grid--right .title {
    display: none;
  }
}
