/* Heading */
.heading {
  display: flex;
  flex-direction: row;

  gap: 1.8rem;
}

.heading .small-heading--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e9ecef;

  font-size: 4.4rem;
}

.heading span {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 3.6rem;
  font-weight: 700;
  color: #e9ecef;
}

/* About me */

.about-me {
  margin-top: 6.4rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  padding: 0 6.4rem;

  margin-top: 4.8rem;
  margin-bottom: 3.6rem;
}

.content img {
  width: 16.4rem;
  height: auto;
}

.content span {
  font-weight: 300;
  font-size: 1.9rem;
  color: #a3a3a3;
  line-height: 1.4;
}

.content .link:link,
.content .link:visited {
  color: #a3a3a3;
  text-decoration: 3px underline;
  text-decoration-color: #343a40;

  transition: all 0.2s;
}

.content .link:hover,
.content .link:active {
  text-decoration-color: #a3a3a3;
}

.heart {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  transform: translateY(2px);
  color: #9775fa;

  pointer-events: none;
}

/* Technologies */

.technologies-list {
  margin-top: 4.8rem;
  margin-left: 3.6rem;
  margin-bottom: 3.6rem;
}

/* Experience */

.experience-section {
  padding: 3.6rem 0;
}

.experience {
  padding-top: 6.4rem;
  padding-bottom: 2.4rem;

  display: flex;
  gap: 9.6rem;
  flex-direction: row;

  margin-left: 3.6rem;
}

.experience .title {
  display: block;

  font-weight: 500;
  font-size: 2.2rem;
  color: #e9ecef;

  padding-bottom: 3.2rem;
}

.experience .interval {
  font-size: 1.4rem;
  color: #a3a3a3;
}

.experience .description {
  font-size: 1.6rem;
  color: #a3a3a3;
  line-height: 1.6;
}

.experience-section .border {
  margin: 1.8rem auto;
  border-top: 2px solid #343a40;
  width: 90%;
}

/* Certificates */
.certificates-section {
  padding: 3.6rem 0;
}

.certificates {
  display: block;
  margin: 2.4rem 0;
}

.certificate {
  display: flex;
  flex-direction: row;

  margin-left: 3.6rem;
  padding: 1.8rem 0;
}

.certificate .small-heading--icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3.4rem;

  margin-right: 2.4rem;

  transform: translateY(11px);
}

.certificate-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  width: 100%;
}

.certificate .name {
  font-weight: 500;
  font-size: 2.2rem;
  color: #e9ecef;
}

.certificate .details {
  font-size: 1.6rem;
  line-height: 1.4;
  color: #a3a3a3;
}

.certificate .buttons {
  margin-left: 1.8rem;
}

.certificates .border {
  margin: 1.8rem auto;
  border-top: 2px solid #343a40;
  width: 90%;
}
